#inicio {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 87px;
  margin-top: 89px;
  color: #111135;
  display: flex;
}

#inicio .contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}

#inicio .contenedor-foto img {
  padding: 30px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f361;
  margin-top: 40px;
  margin-left: 22px;
}

#inicio .sobremi {
  margin: 0 40px;
}

#inicio .sobremi h2 {
  font-size: 67px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 4px;
  margin-top: 82px;
}

#inicio .sobremi h2 span {
  color: #f0aa0e;
}
#inicio h3 {
  font-size: 20px;
  font-weight: 470;
  padding-bottom: 11px;
}

#inicio .contenedor-lista {
  margin-top: 36px;
}

/* seccion R E S P O N S I V E */
@media screen and (max-width: 700px) {
  #inicio {
    display: block;
  }
  #inicio .contenedor-lista {
    margin-left: 19px;
  }
  #inicio .contenedor-foto {
    max-width: 300px;
    margin-top: 1px;
    margin-left: 120px;
  }

  #inicio .contenedor-foto img {
    padding: 8px;
    margin-bottom: 48px;
    margin-left: 0px;
    margin-top: 16px;
  }

  #inicio .sobremi h2 {
    font-size: 47px;
    text-align: inherit;
    margin-top: 5px;
    margin-left: 28px;
  }
  #inicio h3 {
    text-align: justify;
    font-size: 30px;
    font-weight: 500;
  }
}
