.navbar-collapse {
  flex-grow: 0;
}
.navbar {
  --bs-navbar-nav-link-padding-x: 1.5rem;
  --bs-navbar-padding-y: 1rem;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-toggler {
  background-color: white;
}

a.nav-link.active {
  font-weight: 500;
  font-size: 110%;
  color: #ffffff;
}

h6 {
  color: #f0aa0e;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: -2px;
  /*text-shadow: 0px 6px 10px #084298;*/
}
