<section id="cobertura">
  <div class="container">
    <div class="d-flex justify-content-end">
      <div class="section-heading text-center">
        <h2>Área de cobertura</h2>
        <div class="d-flex justify-content-center">
          <hr />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <!-- canvas-->
    <!--
    <div class="card col-3" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">ENVIOS FLEX</h5>
        <h6 class="card-subtitle mb-2 text-muted">Tarifas</h6>
        <p class="card-text">
          Caba: $800 <br />
          1er Cordon: $1200 <br />
          2do Cordon: %1400
        </p>
      </div>
    </div>

    <div class="card col-3" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">ENVIOS PARTICULAR</h5>
        <h6 class="card-subtitle mb-2 text-muted">Tarifas</h6>
        <p class="card-text">
          Caba: $1200 + De un envio ¡DESCUENTO! <br />
          El Kilometro a Provincia $120.
        </p>
      </div>
    </div>

    -->
    <div class="d-flex justify-content-end">
      <img src="/assets/mapa.jpg" alt="" />
    </div>
  </div>
</section>
