<!-- <div class="text-center">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input
              name="nombre"
              type="text"
              class="form-control"
              placeholder="Nombre"
              required
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input
              name="telefono"
              type="text"
              class="form-control"
              placeholder="Telefono"
              required
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input
              name="email"
              type="email"
              class="form-control"
              placeholder="Email"
              required
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <textarea
              class="form-control"
              name="mensaje"
              placeholder="Mensaje"
              required
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-lg btn-block mt-3">Enviar</button>
    </form>
  </div>-->

<section class="get-in-touch">
  <h2 class="title d-flex justify-content-center">Contactanos</h2>
  <form
    class="contact-form row d-flex justify-content-center"
    action="https://formspree.io/f/xwkjrkvw"
    method="POST"
  >
    <div class="form-field col-lg-12">
      <input
        id="nombre"
        class="input-text js-input"
        type="text"
        name="nombre"
        required
      />
      <label class="label" for="name">Nombre</label>
    </div>
    <div class="form-field col-lg-12">
      <input
        id="email"
        class="input-text js-input"
        type="email"
        name="email"
        required
      />
      <label class="label" for="email">E-mail</label>
    </div>

    <div class="form-field col-lg-12">
      <input
        id="telefono"
        class="input-text js-input"
        type="text"
        name="telefono"
        required
      />
      <label class="label" for="phone">Telefono</label>
    </div>
    <div class="form-field col-lg-12">
      <input
        id="message"
        class="input-text js-input"
        type="text"
        name="mensaje"
        required
      />
      <label class="label" for="message">Message</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Enviar" />
    </div>
  </form>
</section>
