<section id="servicios">
  <div class="container-fluid">
    <div class="servi col">
      <h2>SOMOS LA SOLUCIÓN A TUS ENVÍOS</h2>
      <p>
        Ofrecemos soluciones lógisticas para compradores y vendedores online.
        <br />
        Envíos rápidos, económicos y seguros.
        <br />
        ¡No dudes en consultarnos!
      </p>
      <!-- Boton-->
      <div class="d-flex justify-content-center" id="boton-contenedor">
        <button
          class="glow-on-hover"
          type="button"
          [routerLink]="['/cobertura']"
        >
          ÁREA DE COBERTURA
        </button>
      </div>
      <!-- Contenedor-Servicios-->
      <div class="container text-center">
        <div class="row">
          <div class="col-4">
            <img src="/assets/flex.jpg" alt="" />
            <div>
              <h5 class="icon-text">ENVIOS FLEX</h5>
            </div>
            <div>
              <p id="parrafo-img">
                Ofrecé envíos en el día y aumenta tus ventas en MercadoLibre,
                nosotros nos encargamos de entregarlo.
              </p>
            </div>
          </div>
          <div class="col-4">
            <img src="/assets/24.jpg" alt="" />
            <div><h5 class="icon-text">TRAMITES PARTICULARES</h5></div>
            <div>
              <p id="parrafo-img">
                Mensajería y cadetería puerta a puerta para empresas y
                particulares. Todo tipo de envíos en CABA y GBA.
              </p>
            </div>
          </div>
          <div class="col-4">
            <img src="/assets/caja.jpg" alt="" class="caja-img" />
            <div><h5 class="icon-text">ENVÍOS PARA E-COMMERCE</h5></div>
            <div>
              <p id="parrafo-img">
                Una parte del éxito en las ventas por internet es garantizarle
                al cliente que su producto llegue en el día!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
